# Python
__pycache__/
*.py[cod]
*.egg-info/

# Environment
.env

# Directorios de Airflow (Ignoramos el contenido dinámico, no las carpetas en sí)
logs/*
!logs/.gitkeep
plugins/*
!plugins/.gitkeep

# IDEs
.vscode/
.idea/

# Datos confidenciales
data/raw/*
data/archive/*
!data/raw/.gitkeep
!data/archive/.gitkeep
!data/landing/.gitkeep

#Python virtual env y archivo para pruebas locales v1.0
env_idp/*
env_ml/*
notebooks/resultados_benchmark/*
#*.jpg
#mock_idp_engine.py

